{% extends "base_generic.html" %}
{% block content %}

<form method="post" enctype="multipart/form-data">
	<h3>Images</h3>
  {% csrf_token %}
  {{ form.as_p }}
  <table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Uploaded at</th>
      <th>Size</th>
      <th>Room</th>
    </tr>
  </thead>
  <tbody>
    {% for document in documents %}
      <tr>
        <td><a href="{{ document.upload.url }}" target="_blank">{{ document.upload.name }}</a></td>
        <td>{{ document.uploaded_at }}</td>
        <td>{{ document.upload.size|filesizeformat }}</td>
        <td>{{ document.room }}</td>
      </tr>
    {% empty %}
      <tr>
        <td colspan="3">No data.</td>
      </tr>
    {% endfor %}
  </tbody>
</table>
  <a href="{% url 'image-add' %}" class="btn btn-primary">Add image</a>

</form>




{% endblock %}