<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>



$(document).ready(function(){
	  
	  $("#id_venue").change(function () {
	  	 var url = $("#Venue_form").attr("venue-data-url");
		 var venueId = $(this).val();

		$("#save-alert").hide()
		

		$.ajax({                       // initialize an AJAX request
        url: url,                    // set the url of the request (= localhost:8000/hr/ajax/load-cities/)
        data: {
          'venue': venueId       // add the country id to the GET parameters
        },
        success: function (data) {   // `data` is the return of the `load_cities` view function
		  console.log('data...',($.parseJSON(data))[0].pk)
		  $("#id").val(($.parseJSON(data))[0].pk);  
          $("#id_name").val(($.parseJSON(data))[0].fields.name);  
          $("#id_address").val(($.parseJSON(data))[0].fields.address);  // replace the contents of the city input with the data that came from the server

         
        }
      });

	  })

})

</script>


{% extends "base_generic.html" %}

{% block content %}

<h1>Edit venue</h1>

<form novalidate method="post" venue-data-url="{% url 'load-venue-details' %}" id="Venue_form" >
 	{% csrf_token %}
		
	{{form.venue.label_tag}}
	{{ form.venue }}

	<h3>Venue details:</h3>
		<table>
		<tr>
		<th>{{form.name.label_tag}}</th>
		<th>{{form.name}}</th>
		

		<tr>
		<th>{{form.address.label_tag}}</th>
		<th>{{form.address}}</th>
		</tr>

	
		</table>
	
	
		<table><tr><th><button type="submit">Save changes</button></th>
	
		</tr>
		
		<th></th>
		
	</table>

	{% if messages %}
  {% for message in messages %}
    <div{% if message.tags %} id='save-alert' class="alert alert-{{ message.tags }}"{% endif %}>
      <a class="close" data-dismiss="alert" href="#">&times;</a>
      {{ message }}
    </div>
  {% endfor %}
{% endif %}
</div>
</form>
{% endblock %}

