body { padding-top: 70px; }

.sidebar-nav {
    margin-top: 20px;
    padding: 0;
    list-style: none;
}

 #autocomplete {
    border: 1px solid #000090;
    width: 480px;
    padding-right: 2px;
  }

table {
    border-collapse: separate;
    border-spacing: 10px;

}

th {
    font-weight: normal;
}


table {
  border-collapse: collapse;
  width: 100%;
}
table td,
table th {

  padding: 5px 8px;
  text-align: left;
}
table thead {
  border-bottom: 2px solid #eceeef;
}

label {
  display: inline-block;
  width: 130px;
  text-align: left;
}​
